* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: blueviolet;
}


header {
  width: 100%;
  height: 30px;
  background-color: aquamarine;
  text-align: center;
}

#game {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#gameArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 350px;
  width: 350px;
  margin: 10px;
}

#previousEvents {
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  width: 346px;
  height: 30px;
}

#previousEvents > img {
  height: 20px;
  width: 20px;
}

#event {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 200px;
  justify-content: space-between;
}

#currentEvent > img {
  height: 60px;
  width: 60px;
}

#event > * {
  text-align: center;
}

#playerChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 346px;
  height: 30px;
}

#playerChoices > div {
  background-color: brown;
  border: 1px solid black;
}
#playerChoices > div:hover {
  background-color: green;
  border: 1px solid black;
}

#controls {
  display: flex;
  flex-flow: row wrap;
  width: 350px;
  justify-content: space-between;
}

button {
  width: 100px;
}

.scoring {
  display: grid;
  grid-template-columns: 95px 40px;
  grid-template-rows: 30px 25px 25px;
  border: 1px solid black;
  margin: 20px;
}

.scoring > * {
  border: 1px solid black;
  margin: 0;
  text-align: center;
}

.name {
  grid-column-start: span 2;
}

/* What variables need to be updated with @media

//Text sizing for almost every element

header {
  height: 30px;
}

#gameArea {
  height: 350px;
  width: 350px;
  margin: 10px;
}

#previousEvents {
  width: 346px;
  height: 30px;
}

#previousEvents > img {
  height: 20px;
  width: 20px;
}

#event {
  height: 200px;
}

#currentEvent > img {
  height: 60px;
  width: 60px;
}

//The playerChoice divs once I add sizing to them

#controls {
  width: 350px;
}

button {
  width: 100px;
}

.scoring {
  grid-template-columns: 95px 40px;
  grid-template-rows: 30px 25px 25px;
  margin: 20px;
}
*/