* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-image: url('/imgs/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

body.dark {
  background-image: url('/imgs/Background-dark.jpg');
}

header {
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  background-color: #233D4D;
  font-style: italic;
  color: #FE7F2D;
}

header.dark {
  background-color: #222831;
}

header > * {
  width: 50px
}

header > h1 {
  margin: 0;
  width: 160px;
  text-shadow: -3px 3px black;
}

#toggleDark {
  border: 2px solid #222831;
  background-color: #393E46;
  border-radius: 10px;
  color: #EEEEEE;
}

.dark#toggleDark {
  border: 2px solid #FE7F2D;
  background-color: #FCCA46;
  border-radius: 10px;
  color: black;
}

#gamePromt {
  margin-top: 15px;
  width: 350px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  background-color: rgb(252, 202, 70, 0.6);
}

.dark#gamePromt {
  background-color: rgb(57, 62, 70, 0.6);
  color: #EEEEEE;
}

p {
  margin: 8px 0px 8px 0px;
}

article {
  width: 350px;
  font-size: 14px;
}

article.dark {
  color: #EEEEEE;
}

h2 {
  margin-bottom: 8px;
  text-align: center;
}

ul {
  margin-top: 0px ;
  margin-bottom: 0px;
  padding-left: 15px;
  background-color: rgb(252, 202, 70, 0.6);
}

ul.dark {
  background-color: rgb(57, 62, 70, 0.6);
}

li {
  padding: 6px 0px 6px 0px;
}

#startGame {
  width: 150px;
  margin-top: 15px;
  border-radius: 12px;
  border: 3px solid #FE7F2D;
  background-color: #FCCA46;
  font-size: 15px;
  padding: 4px;
}

.dark#startGame {
  color: #EEEEEE;
  border: 3px solid #222831;
  background-color: #393E46;
}

@media only screen and (min-width: 481px) {
  #gamePromt {
    margin-top: 20px;
    width: 400px;
    font-size: 15px;
  }
  
  p {
    margin: 8px 0px 8px 0px;
  }
  
  article {
    width: 400px;
    font-size: 15px;
  }
  
  h2 {
    margin-bottom: 8px;
  }
  
  ul {
    padding-left: 16px;
  }
  
  li {
    padding: 8px 0px 8px 0px;
  }
  
  #startGame {
    margin-top: 15px;
    width: 150px;
    height: 35px;
    border-radius: 12px;
    font-size: 18px;
    padding: 4px;
  }
}

@media only screen and (min-width: 769px) {
  header > * {
    width: 100px;
  }

  #toggleDark {
    font-size: 15px;
    height: 30px;
  }

  #gamePromt {
    margin-top: 25px;
    width: 600px;
    font-size: 18px;
  }
  
  p {
    margin: 14px 0px 14px 0px;
  }
  
  article {
    margin-top: 15px;
    width: 600px;
    font-size: 18px;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  ul {
    padding-left: 18px;
  }
  
  li {
    padding: 8px 0px 8px 0px;
  }
  
  #startGame {
    margin-top: 15px;
    height: 35px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1025px) {
  #gamePromt {
    margin-top: 30px;
    width: 750px;
    font-size: 20px;
  }
  
  p {
    margin: 14px 0px 14px 0px;
  }
  
  article {
    margin-top: 15px;
    width: 750px;
    font-size: 20px;
  }
  
  h2 {
    margin-bottom: 18px;
  }
  
  ul {
    padding-left: 22px;
  }
  
  li {
    padding: 8px 0px 8px 0px;
  }
  
  #startGame {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 24px;
  }
}